* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background: #eeeeee;
    user-select: none;
}

#slider {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    /* custom part in godomall -start- */
    top: 250px;
    /* custom part in godomall -end- */
}

#slider img {
    width: 396px;
    height: 233px;
    border-radius: 5px 5px 0 0;
} 

#slider input[type="radio"] {
    display: none;
}

#slider label {
    position: absolute;
    left: 0;
    right: 0;
    width: 396px;
    height: 233px;
    margin: auto;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: transform 0.5s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    transform: translate3d(-150%, 30%, -300px);
} 

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.50);
    transform: translate3d(-75%, 15%, -150px);
}


#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.50), 0 2px 3px 0 rgba(0, 0, 0, 0.75);
    transform: translate3d(0, 0, 0);
} 


#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.50);
    transform: translate3d(75%, 15%, -150px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    transform: translate3d(150%, 30%, -300px);
}

#slider .request {
    width: 396px;
    height: 233px;
    background: #ffffff;
    /* custom part -start- */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.50), 0 2px 3px 0 rgba(0, 0, 0, 0.75);
    margin-top: -4px;
    border-radius: 0 0 5px 5px;
    /* custom part -end- */
}

#slider .request h1 {
    padding: 20px;
}

#slider .request p {
    padding: 20px;
}

#slider .request a {
    padding-left: 20px;
}